USE [inmdevarmsqluw2001]
GO
/****** Object:  Table [dbo].[Batch]    Script Date: 12/9/2020 8:06:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batch](
	[Id] [varchar](50) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Batch] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversion]    Script Date: 12/9/2020 8:06:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversion](
	[StandardUnit] [varchar](10) NOT NULL,
	[ToUnit] [varchar](10) NOT NULL,
	[Factor] [decimal](18, 8) NULL,
 CONSTRAINT [PK_Conversion] PRIMARY KEY CLUSTERED 
(
	[StandardUnit] ASC,
	[ToUnit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SourceUnitMap]    Script Date: 12/9/2020 8:06:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SourceUnitMap](
	[Source] [varchar](20) NOT NULL,
	[SourceUnit] [varchar](20) NOT NULL,
	[StandardUnit] [varchar](10) NOT NULL,
 CONSTRAINT [PK_UomMap] PRIMARY KEY CLUSTERED 
(
	[Source] ASC,
	[SourceUnit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StandardUnit]    Script Date: 12/9/2020 8:06:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StandardUnit](
	[Name] [varchar](10) NOT NULL,
 CONSTRAINT [PK_StandardUnit] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 12/9/2020 8:06:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagBalance]    Script Date: 12/9/2020 8:06:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagBalance](
	[Tag] [varchar](50) NOT NULL,
	[System] [varchar](50) NOT NULL,
	[MovementType] [varchar](20) NULL,
	[Material] [int] NULL,
	[Plant] [varchar](30) NULL,
	[WorkCenter] [varchar](30) NULL,
	[ValType] [varchar](30) NULL,
	[Tank] [varchar](30) NULL,
	[QuantityTimestamp] [datetime] NOT NULL,
	[BalanceDate] [datetime] NOT NULL,
	[Quantity] [decimal](18, 4) NULL,
	[StandardUnit] [varchar](10) NULL,
	[BatchId] [varchar](50) NULL,
	[Created] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TagBalance] PRIMARY KEY CLUSTERED 
(
	[Tag] ASC,
	[BalanceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagMap]    Script Date: 12/9/2020 8:06:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagMap](
	[Tag] [varchar](50) NOT NULL,
	[Plant] [varchar](4) NOT NULL,
	[WorkCenter] [varchar](10) NOT NULL,
	[MaterialNumber] [int] NOT NULL,
	[DefaultValuationType] [varchar](10) NOT NULL,
	[DefaultUnit] [varchar](10) NULL,
 CONSTRAINT [PK_TagMap] PRIMARY KEY CLUSTERED 
(
	[Tag] ASC,
	[Plant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Conversion] ([StandardUnit], [ToUnit], [Factor]) VALUES (N'BBL', N'M3', CAST(0.00378541 AS Decimal(18, 8)))
INSERT [dbo].[Conversion] ([StandardUnit], [ToUnit], [Factor]) VALUES (N'L15', N'M3', CAST(0.00100000 AS Decimal(18, 8)))
INSERT [dbo].[Conversion] ([StandardUnit], [ToUnit], [Factor]) VALUES (N'M3', N'BBL', CAST(264.17205300 AS Decimal(18, 8)))
GO
INSERT [dbo].[StandardUnit] ([Name]) VALUES (N'BBL')
INSERT [dbo].[StandardUnit] ([Name]) VALUES (N'L15')
INSERT [dbo].[StandardUnit] ([Name]) VALUES (N'M15')
GO
SET IDENTITY_INSERT [dbo].[sysdiagrams] ON 

SET IDENTITY_INSERT [dbo].[sysdiagrams] OFF
GO
INSERT [dbo].[TagBalance] ([Tag], [System], [MovementType], [Material], [Plant], [WorkCenter], [ValType], [Tank], [QuantityTimestamp], [BalanceDate], [Quantity], [StandardUnit], [BatchId], [Created], [CreatedBy]) VALUES (N'Cold Lake Blend', N'TopTech', N'Inventory', 10418, N'CP03', NULL, NULL, N'TK-1009', CAST(N'2020-10-20T12:30:00.000' AS DateTime), CAST(N'2020-10-20T00:00:00.000' AS DateTime), CAST(254379.6720 AS Decimal(18, 4)), N'L15', NULL, CAST(N'2020-10-30T13:38:50.780' AS DateTime), N'system')
INSERT [dbo].[TagBalance] ([Tag], [System], [MovementType], [Material], [Plant], [WorkCenter], [ValType], [Tank], [QuantityTimestamp], [BalanceDate], [Quantity], [StandardUnit], [BatchId], [Created], [CreatedBy]) VALUES (N'Cold Lake Blend', N'TopTech', N'Inventory', 10418, N'BT04', NULL, NULL, N'6400', CAST(N'2020-10-21T11:30:00.000' AS DateTime), CAST(N'2020-10-21T00:00:00.000' AS DateTime), CAST(2205.0000 AS Decimal(18, 4)), N'BBL', NULL, CAST(N'2020-10-30T13:37:21.120' AS DateTime), N'system')
INSERT [dbo].[TagBalance] ([Tag], [System], [MovementType], [Material], [Plant], [WorkCenter], [ValType], [Tank], [QuantityTimestamp], [BalanceDate], [Quantity], [StandardUnit], [BatchId], [Created], [CreatedBy]) VALUES (N'CRUDE OIL - BHB', N'TopTech', N'Inventory', 10417, N'BT04', NULL, NULL, N'1000', CAST(N'2020-10-21T11:30:00.000' AS DateTime), CAST(N'2020-10-21T00:00:00.000' AS DateTime), CAST(204.3400 AS Decimal(18, 4)), N'BBL', NULL, CAST(N'2020-10-30T13:37:21.133' AS DateTime), N'system')
GO
INSERT [dbo].[TagMap] ([Tag], [Plant], [WorkCenter], [MaterialNumber], [DefaultValuationType], [DefaultUnit]) VALUES (N'Crude Oil - OSX (Ultra Low Sulphur)', N'CP01', N'PRODCP01', 10326, N'SUNCOR', N'M15')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_principal_name]    Script Date: 12/9/2020 8:06:49 PM ******/
ALTER TABLE [dbo].[sysdiagrams] ADD  CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Conversion]  WITH CHECK ADD  CONSTRAINT [FK_Conversion_StandardUnit] FOREIGN KEY([ToUnit])
REFERENCES [dbo].[StandardUnit] ([Name])
GO
ALTER TABLE [dbo].[Conversion] CHECK CONSTRAINT [FK_Conversion_StandardUnit]
GO
ALTER TABLE [dbo].[Conversion]  WITH CHECK ADD  CONSTRAINT [FK_Conversion_StandardUnit1] FOREIGN KEY([StandardUnit])
REFERENCES [dbo].[StandardUnit] ([Name])
GO
ALTER TABLE [dbo].[Conversion] CHECK CONSTRAINT [FK_Conversion_StandardUnit1]
GO
ALTER TABLE [dbo].[SourceUnitMap]  WITH CHECK ADD  CONSTRAINT [FK_StandardUnit_Name] FOREIGN KEY([StandardUnit])
REFERENCES [dbo].[StandardUnit] ([Name])
GO
ALTER TABLE [dbo].[SourceUnitMap] CHECK CONSTRAINT [FK_StandardUnit_Name]
GO
ALTER TABLE [dbo].[TagBalance]  WITH CHECK ADD  CONSTRAINT [FK_TagBalance_Batch] FOREIGN KEY([BatchId])
REFERENCES [dbo].[Batch] ([Id])
GO
ALTER TABLE [dbo].[TagBalance] CHECK CONSTRAINT [FK_TagBalance_Batch]
GO
ALTER TABLE [dbo].[TagBalance]  WITH CHECK ADD  CONSTRAINT [FK_TagBalance_StandardUnit] FOREIGN KEY([StandardUnit])
REFERENCES [dbo].[StandardUnit] ([Name])
GO
ALTER TABLE [dbo].[TagBalance] CHECK CONSTRAINT [FK_TagBalance_StandardUnit]
GO
ALTER TABLE [dbo].[TagMap]  WITH CHECK ADD  CONSTRAINT [FK_TagMap_StandardUnit] FOREIGN KEY([DefaultUnit])
REFERENCES [dbo].[StandardUnit] ([Name])
GO
ALTER TABLE [dbo].[TagMap] CHECK CONSTRAINT [FK_TagMap_StandardUnit]
GO
EXEC sys.sp_addextendedproperty @name=N'microsoft_database_tools_support', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sysdiagrams'
GO
